		h1{
			color: #FF5555;
			border-color: purple;
			border-width: 5px;
			border-style: solid;
			border: 8px dashed yellow;
		}

		li{
			color: green;
		}

		body{
			background: url(https://static.vecteezy.com/system/resources/previews/000/164/421/non_2x/vector-wood-grain-texture.jpg);
			background-repeat: no-repeat;
			background-size: cover;
		}




		