body {
	background: url(https://images.unsplash.com/photo-1434543177303-ef2cc7707e0d?dpr=2&fit=crop&fm=jpg&h=825&q=50&w=1450);
	background-size: cover;
	background-position: center;
}


#content {
	text-align: center;
	padding-top: 25%;
}